# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/

# Virtual environments
.venv/
venv/

# IDE
.idea/
.vscode/
*.sw?

# OS
.DS_Store
Thumbs.db

# Testing
.tox/
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/
