# Editor
!.vscode/extensions.json
._*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Odoo
_testlogs/
odoo-data/
odoo/
enterprise/

# Tenants
tenants/*/

# Virtual environments
.venv-v*/

# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Environments
.env

# Testing
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/

# mypy
.mypy_cache/
